h1 {
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 20px;
  font-family: sans-serif;
  line-height: 1.4;
}

ul {
  list-style: none;
}

span {
  font-size: 14px;
  text-transform: uppercase;
}
